:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}

/* after end, when js change theme */
.dark-theme {
    --color-white: #131316;
    --color-light: #23232a;
    --color-dark: #ddd;
    --color-gray-dark: #adacb5;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    bottom: 0;
    appearance: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 12px;
}
body{
    background: var(--color-light);
    min-height: 100vh;
    color: var(--color-dark);
}
img{
    width: 100%;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.86rem;
    font-weight: 500;
}
h6{
    font-size: 0.6rem;
}
p{
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}
small{
    font-weight: 300;
    font-size: 0.77rem;
}
.text-muted{
    color: var(--color-gray-light);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.purple{
    color: var(--color-purple);
}

.bg-primary{
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}
.bg-danger{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}
.bg-success{
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}
.bg-purple{
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}
.bg-dark{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}
.bg-purple-light{
    background: var(--color-purple-light);
}
.bg-danger-light{
    background: var(--color-danger-light);
}
.bg-primary-light{
    background: var(--color-primary-light);
}
.bg-success-light{
    background: var(--color-success-light);
}

/* <!-- navbar --> */
nav{
    width: 100%;
    background: var( --color-gray-light);
    padding: 1rem 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
}
nav img.logo {
    width: 4rem;
}
nav .search-bar{
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}
nav .search-bar input[type="search"] {
    color: var(--color-dark);
    border: none;
    width: 100%;
}
nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray-dark);
}
nav .profile-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
nav .profile-area .theme-btn{
    display: flex;
    background: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

nav .profile-area .theme-btn span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
nav .profile-area .theme-btn .active{
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    color: var(--color-white);
}
nav .profile-area .profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}
nav .profile-area .profile-photo{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
nav .profile-area .profile span{
    cursor: pointer;
}
nav .profile-area button{
    border: none;
    display: none;
}

/* <!-- aside --> */
main{
    display: grid;
    grid-template-columns: 16rem auto 40rem;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
}
main aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}
main aside button#close-btn{
    border: none;
    /* will be show only on mobile and tablets */
    display: none;
}
main aside .sidebar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}
main aside .sidebar a span{
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 0.3s;
}
main aside .sidebar a.active{
    background: var(--color-white);
    color: var(--color-primary);
}
main aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}
main aside .sidebar a:hover{
    color: var(--color-primary);
}
main aside .sidebar a:hover span{
    margin-left: 2rem;
}
main aside .sidebar h4{
    font-weight: 500;
}

/* <!-- section middle --> */
main section.middle .process-request {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

}

main section.middle .process-request h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

main section.middle .process-request form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(550px, 1fr)); */
    gap: 1rem;
}

main section.middle .process-request.form-group {
    display: flex;
    flex-direction: column;
}
main section.middle .process-request .form-group label {
    margin-bottom: 0.5rem;
}

main section.middle .process-request input[type="text"],
main section.middle .process-request input[type="date"] {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}
main section.middle .process-request input[type="checkbox"] {
    width: auto;
    margin-top: 0.5rem;
}
main section.middle .process-request button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

main section.middle .process-request button[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);

}

main section.middle .header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
main section.middle .header input[type="date"]{
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    border: none;
    background: var(--color-white);
    color: var(--color-gray-dark);
}


/* <!-- investments --> */

main section.right .investments{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    margin-right: 1rem;
}
main section.right .investments img{
    width: 2.4rem;
}
main section.right .investments .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
}
main section.right .investments .header a{
    display: flex;
    align-items: center;
    color: var(--color-primary);
}
main section.right .investments .investment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-light);
    transition: all 0.3s ease;
}
main section.right .investments .investment:last-child{
    border-bottom: none;
}
main section.right .investments .investment:hover{
    background: var(--color-light);
    cursor: pointer;
}
/* <!-- recent transaction --> */
main .recent-transactions{
    margin-top: 2rem;
    margin-right: 1rem;
}
main .recent-transactions img{
    width: 2.2rem;
}
main .recent-transactions .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
main .recent-transactions .header a{
    display: flex;
    align-items: center;
    color: var(--color-primary);

}
main .recent-transactions .transaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}
main .recent-transactions .transaction:hover{
    background: var(--color-white);
    cursor: pointer;
}
main .recent-transactions .transaction .service{
    display: flex;
    gap: 1rem;
}
main .recent-transactions .transaction .service .icon{
    padding: var(--padding-2);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
}
main .recent-transactions .transaction .card-details{
    display: flex;
    align-items: center;
    gap: 1rem;
}
main .recent-transactions .transaction .card-details .card{
    display: flex;
    width: 4.6rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
}


/* Table container to enable scrolling */
.table-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 02px 10px
    rgba(0, 0, 0, 0.1);
}

.table-wrapper {
    overflow-x: auto;
    max-height: 250px; /* Adjust this height based on the row height to show 5 rows */

    overflow-y: auto;
}
/* Basic table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td h4 {
    margin: 0;
}

.success {
    color: green;
}

.danger {
    color: red;
}

.status-icon {
    font-size: 1.5em;
}
.online {
    color: green;
}
.offline {
    color: gray;
}
.options {
    display: flex;
    flex-direction: column;
}

.option-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.option-button:hover {
    background-color: #e0e0e0;
}

.option-button .material-icons-sharp {
    margin-right: 10px;
    font-size: 24px;
}


/* Hover effect */
tbody tr:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive styling */
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    tr {
        margin-bottom: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    td:hover {
        background-color: #f1f1f1;
    }
}
/* responsive for table */
@media screen and (max-width: 1024px){
    nav .search-bar{
        display: none;
    }
    nav .profile-area{
        gap: 2rem;
    }
    nav .profile-area button#menu-btn {
        display: inline;
        background: transparent;
        color: var(--color-dark);
    }
    main{
        grid-template-columns: 1fr;
    }
    main aside {
        position: fixed;
        top: 0;
        /* left: 0; first to the left 0, and after JS we set -100% and below we write the animation !!! */
        left: -100%;
        z-index: 3;
        background: var(--color-white);
        width: 22rem;
        height: 100%;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        /* after main aside .updates/ */
        display: none;
        /* after we write the animation !!! */
        animation: showSidebar 0.5s ease forwards;
    }

    @keyframes showSidebar {
        to {
            left: 0;
        }
    }

    main aside button#close-btn{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        background: transparent;
        color: var(--color-dark);
    }
    button:hover{
        cursor: pointer;
    }
    main aside .sidebar{
        margin-top: 4rem;
    }
    main aside .updates{
        display: none;
    }
    main section.middle .cards{
        grid-template-columns: 1fr 1fr;
    }
    main canvas{
        margin: 3rem 0 1rem;
    }
    main section.right .recent-transactions{
        margin-top: 3rem;
    }
}

/* responsive for mobile phones */

@media screen and (max-width: 600px) {
    nav{
        width: 106%;
    }
    nav .profile-area {
        gap: 2.6rem;
    }
    nav .profile h5,
    nav .profile span {
        display: none;
    }
    main section.middle .cards{
        grid-template-columns: 1fr;
    }
    main section.middle .fast-payment{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        gap:  1rem;
    }
    main .cards{
        margin-right: 1rem;
    }

}