@model LogRequestDto

@{
    ViewData["Title"] = "Create Log Request";
}

<h2>Create Log Request</h2>
<div class="process-request">
    <form asp-action="Index" method="post">
      
      
        <div class="form-group">
            <label asp-for="LogTypes" class="control-label"></label>
            <select asp-for="LogTypes" class="form-control" asp-items="Html.GetEnumSelectList<ActionType>()"></select>
            <span asp-validation-for="LogTypes" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="IsAckRequired" class="control-label"></label>
            <input asp-for="IsAckRequired" class="form-control" type="checkbox" />
            <span asp-validation-for="IsAckRequired" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LogLevels" class="control-label"></label>
            <select asp-for="LogLevels" class="form-control" asp-items="Html.GetEnumSelectList<ActionValues>()"></select>
            <span asp-validation-for="LogLevels" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResponseType" class="control-label"></label>
            <select asp-for="ResponseType" class="form-control" asp-items="Html.GetEnumSelectList<ResponseType>()"></select>
            <span asp-validation-for="ResponseType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FromDate" class="control-label"></label>
            <input asp-for="FromDate" class="form-control" type="datetime-local" />
            <span asp-validation-for="FromDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" type="datetime-local" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
