<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MqttMainScreen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

    
    
</head>
<body>
<!-- navbar -->
<nav>
    <div class="container">
        <img src="~/img/mqtt-logo-ver.jpg" class="logo" alt="Mqtt">
        <div class="search-bar">
            <span class="material-icons-sharp">search</span>
            <input type="search" placeholder="Search">
        </div>
        <div class="profile-area">
            @* <div class="theme-btn"> *@
            @*     <span class="material-icons-sharp active">light_mode</span> *@
            @*     <span class="material-icons-sharp">dark_mode</span> *@
            @* </div> *@
            <div class="profile">
                <div class="profile-photo">
                    <img src="~/img/profile.jpeg" alt="profile1">
                </div>
                <h5>Feroz</h5>
                <span class="material-icons-sharp">expand_more</span>
            </div>
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
        </div>
    </div>
</nav>
<!-- main -->
<main>
    <!-- aside -->
    <aside>
        @* @await Html.PartialAsync("_Sidebar") *@
        <button id="close-btn">
            <span class="material-icons-sharp">close</span>
        </button>
        <div class="sidebar">
            <a href="#" class="active">
                <span class="material-icons-sharp">dashboard</span>
                <h4>Dashboard</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">currency_exchange</span>
                <h4>Clients</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">account_balance_wallet</span>
                <h4>Wallet</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">payment</span>
                <h4>Transactions</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">pie_chart</span>
                <h4>Analytics</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">insert_comment</span>
                <h4>Messages</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">help_center</span>
                <h4>Help Center</h4>
            </a>
            <a href="#">
                <span class="material-icons-sharp">settings</span>
                <h4>Settings</h4>
            </a>
        </div>
        
    </aside>
    <!-- section middle -->
    <section class="middle">
        @RenderBody()
    </section>
    <!-- section right -->
    @await Html.PartialAsync("_RightSection")

</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>
<script>
    
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>