@* Views/Shared/_RightSection.cshtml *@
    <!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

<!-- DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<!-- FontAwesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<section class="right">
    <!-- investments -->
    <div class="table-container">
        <div class="header">
            <h2>Client Details</h2>
        </div>
        <div class="table-wrapper">
            <table id="clientTable" class="display">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Status</th>
                        <th>LastConnected</th>
                        <th><input type="checkbox" id="select-all"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Client 1</td>
                        <td><i class="fas fa-circle status-icon online"></i></td>
                        <td>9:14pm</td>
                        <td><input type="checkbox" class="select-client"></td>
                    </tr>
                    <tr>
                        <td>Client 2</td>
                        <td><i class="fas fa-circle status-icon online"></i></td>
                        <td>9:14pm</td>
                        <td><input type="checkbox" class="select-client"></td>
                    </tr>
                    <tr>
                        <td>Client 3</td>
                        <td><i class="fas fa-circle status-icon offline"></i></td>
                        <td>9:14pm</td>
                        <td><input type="checkbox" class="select-client"></td>
                    </tr>
                    <tr>
                        <td>McDonalds</td>
                        <td><i class="fas fa-circle status-icon offline"></i></td>
                        <td>9:14pm</td>
                        <td><input type="checkbox" class="select-client"></td>
                    </tr>
                    <tr>
                        <td>Uniliver</td>
                        <td><i class="fas fa-circle status-icon offline"></i></td>
                        <td>9:14pm</td>
                        <td><input type="checkbox" class="select-client"></td>
                    </tr>
                    <tr>
                        <td>Monster</td>
                        <td><i class="fas fa-circle status-icon offline"></i></td>
                        <td>9:14pm</td>
                        <td><input type="checkbox" class="select-client"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- recent transaction -->
    <div class="recent-transactions">
        <div class="header">
            <h2>Options</h2>
        </div>
        <div class="options">
            <a asp-controller="LogRequest" asp-action="Index" class="option-button">
                <span class="material-icons-sharp">description</span>Log
            </a>
            <a asp-controller="Tpm" asp-action="Index" class="option-button">
                <span class="material-icons-sharp">security</span>
                TPM
            </a>
            <a asp-controller="Firmware" asp-action="Index" class="option-button">
                <span class="material-icons-sharp">security</span>
                Firmware
            </a>
            <a asp-controller="DevicePerformance" asp-action="Index" class="option-button">
                <span class="material-icons-sharp">monitor_heart</span>
                Device Performance
            </a>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Select all checkboxes functionality
        $('#select-all').click(function () {
            $('.select-client').prop('checked', this.checked);
        });

        // Change row style based on status
        $('tr').each(function () {
            if ($(this).find('.status-icon').hasClass('online')) {
                $(this).css('background-color', '#e0ffe0'); // Light green for online
            } else if ($(this).find('.status-icon').hasClass('offline')) {
                $(this).css('background-color', '#ffe0e0'); // Light red for offline
            }
        });
    });
</script>
@* <script> *@
@* $(document).ready(function() { *@
@*     const table = $('#clientTable').DataTable({ *@
@*         // DataTables options can go here *@
@*         "paging": true,  // Enable pagination *@
@*         "searching": true,  // Enable search *@
@*         "info": true  // Show table info *@
@*     }); *@
@* *@
@*     // Handle the select all checkbox functionality *@
@*     $('#select-all').on('click', function() { *@
@*         const rows = table.rows({'search': 'applied'}).nodes(); *@
@*         $('input[type="checkbox"]', rows).prop('checked', this.checked); *@
@*     }); *@
@* *@
@*     // Handle individual row checkbox click *@
@*     $('#clientTable tbody').on('change', 'input[type="checkbox"].select-client', function() { *@
@*         const allChecked = $('input[type="checkbox"].select-client').length === $('input[type="checkbox"].select-client:checked').length; *@
@*         $('#select-all').prop('checked', allChecked); *@
@*     }); *@
@* }); *@
@* </script> *@
