@* $1$ Views/Shared/_RightSection.cshtml #1# *@
@* <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" > *@
@* *@
@* <section class="right"> *@
@*     <!-- investments --> *@
@*     <div class="table-container"> *@
@*         <div class="header"> *@
@*             <h2>Client Details</h2> *@
@*         </div> *@
@*         <div class="table-wrapper"> *@
@*             <table id='tbllist'> *@
@*                 <thead> *@
@*                     <tr> *@
@*                         <th>Client</th> *@
@*                         <th>Status</th> *@
@*                         <th>LastConnected</th> *@
@*                         <th><input type="checkbox" id="select-all"></th> *@
@*                     </tr> *@
@*                 </thead> *@
@*                 <tbody> *@
@*                     <tr> *@
@*                         <td>Client 1</td> *@
@*                         <td><i class="fas fa-circle status-icon online"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Client 2</td> *@
@*                         <td><i class="fas fa-circle status-icon online"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Client 3</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>McDonalds</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Uniliver</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Monster</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     </div> *@
@*     <!-- recent transaction --> *@
@*     <div class="recent-transactions"> *@
@*         <div class="header"> *@
@*             <h2>Options</h2> *@
@*         </div> *@
@*         <div class="options"> *@
@*             <a asp-controller="LogRequest" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">description</span>Log *@
@*             </a> *@
@*             <a asp-controller="Tpm" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">security</span> *@
@*                 TPM *@
@*             </a> *@
@*             <a asp-controller="Firmware" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">security</span> *@
@*                 Firmware *@
@*             </a> *@
@*             <a asp-controller="DevicePerformance" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">monitor_heart</span> *@
@*                 Device Performance *@
@*             </a> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
@* *@
@* <script> *@
@*     $(document).ready(function () { *@
@*         // Select all checkboxes functionality *@
@*         $('#select-all').click(function () { *@
@*             $('.select-client').prop('checked', this.checked); *@
@*         }); *@
@*   *@
@*         // Change row style based on status *@
@*         $('tr').each(function () { *@
@*             if ($(this).find('.status-icon').hasClass('online')) { *@
@*                 $(this).css('background-color', '#e0ffe0'); // Light green for online *@
@*             } else if ($(this).find('.status-icon').hasClass('offline')) { *@
@*                 $(this).css('background-color', '#ffe0e0'); // Light red for offline *@
@*             } *@
@*         }); *@
@*     }); *@
@* </script> *@
<div id="layoutSidenav_right">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordionRight">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Right Side</div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Client Id</th>
                                <th>Device S.No</th>
                                <th>Device Name</th>
                                <th>Registered DateTime</th>
                                <th>Last Accessed</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Client Id</th>
                                <th>Device S.No</th>
                                <th>Device Name</th>
                                <th>Registered DateTime</th>
                                <th>Last Accessed</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>1001</td>
                                <td>SN12345</td>
                                <td>Device Alpha</td>
                                <td>2023/05/12 14:30</td>
                                <td>2024/06/24 09:45</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1002</td>
                                <td>SN12346</td>
                                <td>Device Beta</td>
                                <td>2023/06/11 11:20</td>
                                <td>2024/06/23 10:15</td>
                                <td>Inactive</td>
                            </tr>
                            <tr>
                                <td>1003</td>
                                <td>SN12347</td>
                                <td>Device Gamma</td>
                                <td>2023/07/21 09:45</td>
                                <td>2024/06/22 16:30</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1004</td>
                                <td>SN12348</td>
                                <td>Device Delta</td>
                                <td>2023/08/10 13:00</td>
                                <td>2024/06/21 14:50</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1005</td>
                                <td>SN12349</td>
                                <td>Device Epsilon</td>
                                <td>2023/09/15 08:25</td>
                                <td>2024/06/20 11:10</td>
                                <td>Inactive</td>
                            </tr>
                            <tr>
                                <td>1006</td>
                                <td>SN12350</td>
                                <td>Device Zeta</td>
                                <td>2023/10/22 10:40</td>
                                <td>2024/06/19 12:35</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1007</td>
                                <td>SN12351</td>
                                <td>Device Eta</td>
                                <td>2023/11/30 15:55</td>
                                <td>2024/06/18 13:25</td>
                                <td>Inactive</td>
                            </tr>
                            <tr>
                                <td>1008</td>
                                <td>SN12352</td>
                                <td>Device Theta</td>
                                <td>2023/12/05 17:10</td>
                                <td>2024/06/17 14:15</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1009</td>
                                <td>SN12353</td>
                                <td>Device Iota</td>
                                <td>2024/01/14 18:20</td>
                                <td>2024/06/16 15:05</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1010</td>
                                <td>SN12354</td>
                                <td>Device Kappa</td>
                                <td>2024/02/28 19:30</td>
                                <td>2024/06/15 16:55</td>
                                <td>Inactive</td>
                            </tr>
                            <tr>
                                <td>1011</td>
                                <td>SN12355</td>
                                <td>Device Lambda</td>
                                <td>2024/03/18 20:40</td>
                                <td>2024/06/14 17:45</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1012</td>
                                <td>SN12356</td>
                                <td>Device Mu</td>
                                <td>2024/04/01 21:50</td>
                                <td>2024/06/13 18:35</td>
                                <td>Inactive</td>
                            </tr>
                            <tr>
                                <td>1013</td>
                                <td>SN12357</td>
                                <td>Device Nu</td>
                                <td>2024/05/12 22:00</td>
                                <td>2024/06/12 19:25</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1014</td>
                                <td>SN12358</td>
                                <td>Device Xi</td>
                                <td>2024/06/20 23:10</td>
                                <td>2024/06/11 20:15</td>
                                <td>Inactive</td>
                            </tr>
                            <tr>
                                <td>1015</td>
                                <td>SN12359</td>
                                <td>Device Omicron</td>
                                <td>2024/07/25 07:20</td>
                                <td>2024/06/10 21:05</td>
                                <td>Active</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

